In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:/Users/ebuka/datascraping.csv')
dft=pd.read_csv('C:/Users/ebuka/Downloads/Geospatial_Coordinates.csv')

In [3]:
df.head()

            Borough Postal Code               Neighborhood
0      Not assigned         M1A               Not assigned
1      Not assigned         M2A               Not assigned
2        North York         M3A                  Parkwoods
3        North York         M4A           Victoria Village
4  Downtown Toronto         M5A  Regent Park, Harbourfront

In [5]:
dft.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
dataset=pd.merge(df,dft,left_on='Postal Code',right_on='Postal Code',how='right')

In [13]:
dataset.describe()

         Latitude   Longitude
count  103.000000  103.000000
mean    43.704608  -79.397153
std      0.052463    0.097146
min     43.602414  -79.615819
25%     43.660567  -79.464763
50%     43.696948  -79.388790
75%     43.745320  -79.340923
max     43.836125  -79.160497

In [14]:
dataset.set_index('Postal Code', inplace=True)

In [15]:
dataset.to_csv('C:/Users/ebuka/mergeddataset.csv')